[submodule "ReactMovie"]
	path = ReactMovie
	url = https://github.com/Youngju-Jang/ReactMovie.git
[submodule "Hooks"]
	path = Hooks
	url = https://github.com/Youngju-Jang/Hooks.git
[submodule "wetube"]
	path = wetube
	url = https://github.com/Youngju-Jang/wetube.git
